---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller
  namespace: app
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik-ingress-controller
  namespace: app
  labels:
    k8s-app: traefik-ingress-lb
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: traefik-ingress-lb
  template:
    metadata:
      labels:
        k8s-app: traefik-ingress-lb
        name: traefik-ingress-lb
    spec:
      serviceAccountName: traefik-ingress-controller
      terminationGracePeriodSeconds: 60
      containers:
        - image: traefik:v1.7
          name: traefik-ingress-lb
          ports:
            - name: http
              containerPort: 80 # Expose to cluster
            - name: https
              containerPort: 443
            - name: admin
              containerPort: 8080
          volumeMounts:
            - mountPath: "/ssl"
              name: "ssl"
            - mountPath: "/config"
              name: "config"
          args:
            - --configfile=/config/traefik-config.toml
            - --api
            - --kubernetes
            - --logLevel=INFO
      volumes:
        - name: ssl
          secret:
            secretName: certificate-secret
        - name: config
          configMap:
            name: traefik-config
---
kind: Service
apiVersion: v1
metadata:
  name: traefik-ingress-service
  namespace: app
spec:
  selector:
    k8s-app: traefik-ingress-lb
  ports:
    - protocol: TCP # Expose to outside world
      port: 80
      nodePort: 80
      name: web
    - protocol: TCP
      port: 443
      nodePort: 443
      name: tls
    - protocol: TCP
      port: 8080
      nodePort: 8080
      name: admin
  type: NodePort
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: app
data:
  traefik-config.toml: |-
    defaultEntryPoints = ["http","https"]

    [api]
      entryPoint = "traefik"

    [entryPoints]

      [entryPoints.http]
      address = ":80"
        [entryPoints.http.redirect]
          entryPoint = "https"

      [entryPoints.https]
      address = ":443"
        [entryPoints.https.tls]
          [[entryPoints.https.tls.certificates]]
          CertFile = "/ssl/tls.crt"
          KeyFile = "/ssl/tls.key"

      [entrypoints.traefik]
      address = ":8080"
        [entryPoints.traefik.tls]
            [[entryPoints.https.tls.certificates]]
            CertFile = "/ssl/tls.crt"
            KeyFile = "/ssl/tls.key"
