# apiVersion: v1
# kind: Secret
# type: generic
# metadata:
#   name: certificate-secret
# data:
#   # Generally cert.pem and privkey.pem are needed by webservers for https
#   tls.crt: "" # empty since this will be filled by job
#   tls.key: ""
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: certificate-renewal
spec:
  schedule: "0 */12 * * *" # Run once every 12 hours
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      name: certificate-renewal
    spec:
      backoffLimit: 3
      template:
        metadata:
          name: certificate-renewal
          labels:
            name: certificate-renewal
        spec:
          restartPolicy: OnFailure
          containers:
            - name: certificate-renewal
              image: certbot/certbot:v1.3.0
              command: ["/bin/sh", "-c"]
              # Below commands get certificate, and replace the old certificates in the secret
              # The issue is that this server is not exposed. After creating traefik I will get this working

              # Gonna need a traefik path for http://www.bitmemo.io/.well-known/acme-challenge to lead to here
              args: [
                  "printf \"a\ny\n1\" | certbot certonly --verbose --standalone -m \"kyle.blue.nuttall@gmail.com\" -d \"bitmemo.io\"", # Change "bitmemo.io" if using other website
                  "cd /etc/letsencrypt/live/bitmemo.io/;",
                  "sed -i '' **/*;", # This replaces all system links with their actual files
                  "mv cert.pem tls.crt;",
                  "mv privkey.pem tls.key;",
                ]
              # CREATE JSON BODY AND PUT IN CURL REQUEST
              #AUTH_TOKEN=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
              #curl -v --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -H "Authorization: Bearer $AUTH_TOKEN" -X PUT https://kubernetes.default.svc/api/v1/namespaces/default/secrets/certificate-secret
              # kubectl create secret generic certificate-secret \
              # --from-file=./tls.key --from-file=./tls.crt --dry-run -o yaml |
              # kubectl apply -f -
              volumeMounts:
                - name: certificate-volume
                  mountPath: /etc/letsencrypt/live/bitmemo.io/ # And this
                  readOnly: false # We want to write to the certificate
              ports:
                - containerPort: 80 # Expose port 80 to container
          volumes:
            - name: certificate-volume
              secret:
                secretName: certificate-secret
---
apiVersion: v1
kind: Service
metadata:
  name: certificate-renewal
spec:
  selector:
    name: certificate-renewal
  ports:
    - port: 80
      targetPort: 80
